@charset 'utf-8';
body {
  background-color: black;
}

.line_x {
  background-color: white;
  width: 100%;
  height: 1px;
  position: absolute;
  top: 50%;
}

.line_y {
  background-color: white;
  width: 1px;
  height: 100%;
  position: absolute;
  left: 50%;
}

.target {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tag {
  color: purple;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 24px;
}

.car {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
