.container{
    background: coral;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.box1{
    width: 100px;
    height: 100px;
    background-color: darkblue;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.box2{
    width: 100px;
    height: 100px;
    background-color: red;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.box3{
    width: 100px;
    height: 100px;
    background-color: wheat;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    }

.box4{
    width: 100px;
    height: 100px;
    background-color: firebrick;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    } 

.box5{
    width: 100px;
    height: 100px;
    background-color: hotpink;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    } 

.box6{
    width: 100px;
    height: 100px;
    background-color: indianred;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    }

.box7{
    width: 100px;
    height: 100px;
    background-color: khaki;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.box8{
    width: 100px;
    height: 100px;
    background-color: lightcoral;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}
.box9{
    width: 100px;
    height: 100px;
    background-color: lightseagreen;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}
.box10{
    width: 100px;
    height: 100px;
    background-color: maroon;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}