* {
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  outline: none;
  background: transparent;
  border: none;
  cursor: pointer;
}

body {
  background-color: silver;
  text-align: center;
}
#wrap {
  width: 400px;
  margin: 0 auto;
}

#header {
  width: 400px;
  font-size: 24px;
  color: white;
  background: linear-gradient(
    90deg,
    rgb(241, 38, 126) 0%,
    rgba(188, 181, 219, 1) 58%,
    rgb(57, 138, 231) 100%
  );
  border-top: 1px solid silver;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

#content {
  height: 100%;
  background-color: whitesmoke;
}

.items {
  height: 500px;
  overflow: auto;
  font-size: 24px;
  color: white;
}

.item {
  display: flex;
  justify-content: space-between;
  padding: 8px 24px;
  line-height: 50px;
}

.item_delete {
  font-size: 28px;
  transition: all 300ms ease-in;
}

.item_delete:hover {
  color: red;
  transform: scale(1.2);
  cursor: pointer;
}

.item_divider {
  width: 90%;
  height: 1px;
  background-color: gray;
  margin: 0 auto;
}

.main_input {
  width: 100%;
  height: 32px;
  border: none;
  outline: none;
  font-size: 24px;
}

#footer {
  background: linear-gradient(
    90deg,
    rgb(241, 38, 126) 10%,
    rgba(188, 181, 219, 1) 58%,
    rgba(57, 138, 231) 100%
  );
  border-bottom: 1px solid silver;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  font-size: 20px;
  color: white;
}

.footer_button {
  width: 48px;
  height: 48px;
  font-size: 28px;
  color: white;
  background-color: black;
  border-radius: 50%;
  transition: all 600ms ease-in;
}

.footer_button:hover {
  transform: scale(1.2);
}
